<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLThuocBV.Properties.Settings.QLThuocDataConnectionString"
            connectionString="Data Source=HLONGIT;Initial Catalog=QLThuocData;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>